* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background: rgb(224, 249, 255);
  background: radial-gradient(
    circle,
    rgba(224, 249, 255, 1) 0%,
    rgba(241, 255, 232, 1) 42%,
    rgba(254, 235, 255, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}
.cursor {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  left: -100px;
  top: -100px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease;
  backdrop-filter: invert(100%);
  z-index: 10;
}

.cursor.on-element {
  width: 120px;
  height: 120px;
}
@media (max-width: 630px) {
  .cursor {
    display: none;
  }
}

.template {
  padding-top: 100px;
}
