@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper {
  text-shadow: 5px 5px 5px #00000064;
  position: relative;
  z-index: 2;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  width: 100%;
  background: rgba(61, 61, 61, 0.05);
  position: fixed;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.167);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.logo:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.navbar {
  max-width: 600px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  opacity: 0;
  color: white;
  z-index: 2;
}
.link:nth-child(1) {
  animation: fadeIn 0.5s ease-in-out forwards 0.3s;
}

.link:nth-child(2) {
  animation: fadeIn 0.5s ease-in-out forwards 0.4s;
}

.link:nth-child(3) {
  animation: fadeIn 0.5s ease-in-out forwards 0.5s;
}

.link:nth-child(4) {
  animation: fadeIn 0.5s ease-in-out forwards 0.6s;
}

.open {
  position: relative;
  z-index: 1000;
  width: 40px;
  height: 10px;
  cursor: pointer;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: none;
}

.open::before,
.open::after,
.open span {
  content: "";
  position: absolute;
  left: 20%;
  width: 60%;
  height: 3px;
  background-color: #000;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}

.open::before {
  top: 30%;
}

.open::after {
  top: 70%;
}

.open > span {
  opacity: 1;
  top: 50%;
}
.open.active {
  background: #fff;
}
.open.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.open.active::after {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.open.active span {
  width: 0;
}

@media (max-width: 950px) {
  .navbar {
    position: fixed;
    z-index: 2;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background: #000;
    gap: 40px;
    padding: 40px;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    overflow: auto;
  }

  .navbar .link::before {
    background-color: #fff;
    z-index: 2;
    height: 4px;
  }
  .open {
    display: block;
  }
  .navbar .link {
    color: #fff;
    display: none;
  }
  .navbar.active .link {
    display: block;
    font-size: 30px;
  }

  .link:nth-child(1) {
    animation: fadeIn 0.5s ease-in-out forwards 0.1s;
  }

  .link:nth-child(2) {
    animation: fadeIn 0.5s ease-in-out forwards 0.2s;
  }

  .link:nth-child(3) {
    animation: fadeIn 0.5s ease-in-out forwards 0.3s;
  }

  .link:nth-child(4) {
    animation: fadeIn 0.5s ease-in-out forwards 0.4s;
  }

  .navbar.active {
    transform: translateY(0%);
  }
}
