.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  animation: fadeIn 1s ease-in-out;
}
.profileImage {
  width: 50%;
  max-width: 650px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}

.textContent {
  max-width: 600px;
  overflow: hidden;
}

.subTitle {
  font-size: 24px;
  color: #888;
  margin-bottom: 20px;
  animation: slideInLeft 1s ease-in-out;
  @media (max-width:500px){
    font-size: 18px;
  }
}

.textContent p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  max-width: 400px;
  text-align: justify;
  animation: slideInLeft 1.5s ease-in-out;
  @media (max-width:500px){
    font-size: 16px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }

  .profileImage {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .textContent {
    margin: 0 auto;
    max-width: none;
  }
  .textContent * {
    animation: slideInLeft 0s ease-in-out;
  }

  .textContent h1,
  .textContent h2,
  .textContent p {
    animation: none;
  }

  @keyframes slideInUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
@media (max-width: 540px) {
  .container {
    padding: 0px 0;
  }
}
